module Secrets exposing (googleProvider)
import Types exposing (..)
import Json.Decode as Json


credentials : {clientId : String, clientSecret : String}
credentials = {clientId = "", clientSecret = ""}

googleProvider defaultHttpsUrl = { provider = Google
            , clientId = ""
            , secret = ""
            , authorizationEndpoint = { defaultHttpsUrl | host = "accounts.google.com", path = "/o/oauth2/v2/auth" }
            , tokenEndpoint = { defaultHttpsUrl | host = "www.googleapis.com", path = "/oauth2/v4/token" }
            , profileEndpoint = { defaultHttpsUrl | host = "www.googleapis.com", path = "/oauth2/v1/userinfo" }
            , scope = [ "profile" ]
            , profileDecoder =
                Json.map2 Profile
                    (Json.field "name" Json.string)
                    (Json.field "picture" Json.string)
            }
